#about
{
    display: flex;
    justify-content: flex-start;
    min-height: 50vh;
    position: relative;
    left: -10;
    overflow: hidden;
}

#about-content
{
    width: 700px;
    height: 25vh;
    padding: 20px;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    color: white;
    line-height: 1.2;
}

.about-content-item
{
    width: 310px;
    max-width: 310px;
}

#about-content-name
{
    color: var(--primary-orange);
}

#about-content-buttons
{
    display: flex;
    flex-direction: row;
    width: 43%;
    align-items: center;
    justify-content: space-between;
}

.about-button
{
    margin: 8px;
    background-color: var(--primary-teal);
    height: 32px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.about-button:hover
{
    background-color: var(--primary-orange);
    transition: ease-in-out .3s;
}


#wallpaper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

#me-image
{
    height: 65vh;
    margin-left: 10vw;;
}
