#nav-logo {
    max-height: 50px;
}

#nav-name {
    font-size: 32px;
}

#nav-items-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    max-height: 50px;
    margin: 20px;
    font-size: 18px;
}

#nav-items-parent a .nav-item {
    color: black;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--primary-teal);
    transition: ease-in-out .3s;
}
